*  {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:  Verdana, sans-serif;
  background-color: #ffffff;
  color: #333;
  line-height: 1.6;
  padding: 20px;
}

h1 {
  color: #000000;
  text-align: center;
  font-size: 2.5em;
}